*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Manrope;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Manrope-Medium.ttf");
}
@font-face {
  font-family: Manrope;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Manrope-SemiBold.ttf");
}
@font-face {
  font-family: Manrope;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Manrope-Bold.ttf");
}
@font-face {
  font-family: Lora;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Lora-Bold.ttf");
}
:root {
  --main: #469A77;
  --button-figure: #fff;
  --header-border: #D0525A;
  --header-circe: #00AAE8;
  --button-about-bg: #fff;
  --button-about-figure: #469A77;
  --list-bullet-color: #D0525A;
  --subtitle-dark: rgba(15, 15, 15, 0.8);
  --card-text: rgba(37, 37, 37, 0.8);
  --figure-color: #D0525A;
  --figure-line: #00AAE8;
  --header-bg-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(0deg, rgba(31, 53, 42, 0.70) 0%, rgba(31, 53, 42, 0.70) 100%);
  --bg-gradient: linear-gradient(0deg, rgba(31, 53, 42, 0.70) 0%, rgba(31, 53, 42, 0.70) 100%);
  --date-bg: #D0525A;
  --road-card-lines: #00AAE8;
  --road-card-icon: #D0525A;
  --hotel-icon: #D0525A;
  --popup-line: #D0525A;
}

body {
  font-family: Manrope, sans-serif;
  font-weight: 500;
  line-height: 1.45;
}

html, body {
  overflow-x: hidden;
}

.container {
  max-width: 1600px;
  padding: 0px 35px;
  margin: 0px auto;
}
@media (max-width: 768px) {
  .container {
    padding: 0px 16px;
  }
}

span.bold {
  font-weight: 700;
}

h1, h2, h3, h4 {
  font-family: Lora, serif;
  font-weight: 700;
}

h1 {
  color: #fff;
  font-size: 130px;
  line-height: 1;
  text-align: center;
}
@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 50px;
  line-height: 1.35;
}
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 30px;
}
@media (max-width: 768px) {
  h3 {
    font-size: 22px;
  }
}

h4 {
  font-size: 24px;
}

p {
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 768px) {
  p {
    font-size: 16px;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  border: none;
  cursor: pointer;
  font-family: Manrope, sans-serif;
  font-weight: 600;
  padding: 25px 30px;
  background: var(--main);
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 14px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.button:before, .button:after {
  content: "";
  width: 14px;
  height: 14px;
  display: inline-block;
  -webkit-mask: url("../img/star-icon.svg") no-repeat center;
          mask: url("../img/star-icon.svg") no-repeat center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background: var(--button-figure);
}
@media (max-width: 768px) {
  .button {
    font-size: 16px;
    max-width: 100%;
    width: 100%;
  }
}
.button.mobile-show {
  display: none;
}
@media (max-width: 768px) {
  .button.mobile-show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.slider-prev,
.slider-next {
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--main) url("../img/arrow.svg") no-repeat center;
  background-size: 16px 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 2;
}
@media (max-width: 768px) {
  .slider-prev,
  .slider-next {
    display: none;
  }
}

.slider-prev {
  left: -70px;
}

.slider-next {
  right: -70px;
  -webkit-transform: translate(0, -50%) rotate(180deg);
          transform: translate(0, -50%) rotate(180deg);
}

.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 30px;
}
@media (max-width: 768px) {
  .list {
    gap: 18px;
  }
}
.list li {
  width: 100%;
  font-size: 20px;
  padding: 0px 0px 0px 46px;
  position: relative;
}
@media (max-width: 768px) {
  .list li {
    font-size: 16px;
    padding: 0px 0px 0px 30px;
  }
}
.list li::before {
  content: "";
  width: 22px;
  height: 22px;
  display: inline-block;
  -webkit-mask: url("../img/star-icon.svg") no-repeat center;
          mask: url("../img/star-icon.svg") no-repeat center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background: var(--list-bullet-color);
  position: absolute;
  left: 0;
  top: 14.5px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
@media (max-width: 768px) {
  .list li::before {
    width: 16px;
    height: 16px;
    top: 11.6px;
  }
}

.figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 92px;
  position: relative;
}
.figure-romb {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  -webkit-mask: url("../img/star-icon.svg") no-repeat center;
          mask: url("../img/star-icon.svg") no-repeat center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background: var(--figure-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
}
.figure-lines {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.figure-lines::before, .figure-lines::after {
  content: "";
  position: absolute;
  height: 1px;
  border-radius: 2px;
  width: 27px;
  background: var(--figure-line);
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.figure-lines::before {
  left: 4px;
}
.figure-lines::after {
  right: 4px;
}
.figure::before, .figure::after {
  content: "";
  width: 5px;
  height: 5px;
  border: 1px solid var(--figure-line);
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.figure::before {
  left: 0;
}
.figure::after {
  right: 0;
}

.card {
  background: #fff;
  border-radius: 20px;
  padding: 16px;
}
.card p {
  font-size: 18px;
  color: rgba(37, 37, 37, 0.8);
}
@media (max-width: 768px) {
  .card p {
    font-size: 16px;
  }
}
.card-shadow {
  border-radius: 40px;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.2);
  padding: 40px;
}
@media (max-width: 768px) {
  .card-shadow {
    padding: 16px;
    border-radius: 20px;
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  position: relative;
  padding: 60px 0px 0px;
}
.pagination .swiper-pagination-bullet {
  margin: 0 !important;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  background: #fff;
}
.pagination .swiper-pagination-bullet-active {
  background: var(--main);
  opacity: 1;
}
@media (max-width: 768px) {
  .pagination {
    display: none;
  }
}

.nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 50px;
  background: #fff;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  overflow: hidden;
  padding: 0px 20px;
  position: relative;
}
@media (max-width: 768px) {
  .nav-buttons {
    max-width: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0;
    border-radius: 30px;
    gap: 0;
  }
  .nav-buttons.active .nav-button {
    display: block;
  }
  .nav-buttons.active .nav-button.active::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.nav-buttons-active {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 100px;
  background: var(--main);
  -webkit-transition: left 0.5s linear, width 0.5s linear;
  transition: left 0.5s linear, width 0.5s linear;
}
@media (max-width: 768px) {
  .nav-buttons-active {
    display: none;
  }
}
.nav-button {
  cursor: pointer;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  padding: 20px;
  font-size: 22px;
  background: transparent;
  border: none;
  position: relative;
  z-index: 2;
}
@media (min-width: 769px) {
  .nav-button {
    -webkit-transition: color 0.3s 0.5s linear;
    transition: color 0.3s 0.5s linear;
  }
}
@media (max-width: 1400px) {
  .nav-button {
    font-size: 18px;
    white-space: nowrap;
  }
}
@media (max-width: 768px) {
  .nav-button {
    display: none;
    font-size: 16px;
  }
}
.nav-button.active {
  color: #fff;
}
@media (max-width: 768px) {
  .nav-button.active {
    background: var(--main);
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 30px;
  }
  .nav-button.active::after {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../img/nav-arrow.svg") no-repeat center;
    background-size: contain;
  }
}
.nav-content {
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  display: none;
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.5s linear;
  transition: opacity 0.5s linear, -webkit-transform 0.5s linear;
  transition: opacity 0.5s linear, transform 0.5s linear;
  transition: opacity 0.5s linear, transform 0.5s linear, -webkit-transform 0.5s linear;
  visibility: hidden;
}
.nav-content.active {
  opacity: 1;
  visibility: visible;
  display: block;
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
  color: #fff;
  line-height: 1;
}
@media (max-width: 768px) {
  .logo {
    display: grid;
    grid-template-columns: 68px 1fr;
    grid-gap: 8px;
  }
}
.logo::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid var(--header-circe);
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  opacity: 0;
  -webkit-animation: show 0.5s linear forwards;
          animation: show 0.5s linear forwards;
}
@media (max-width: 768px) {
  .logo::after {
    width: 14px;
    height: 14px;
  }
}
.logo-img {
  width: 68px;
  height: 68px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 768px) {
  .logo-img {
    width: 60px;
    height: 60px;
    grid-row-start: span 2;
    position: relative;
    z-index: 6;
  }
}
.logo-title {
  font-family: Lora, serif;
  font-weight: 700;
  font-size: 40px;
}
@media (max-width: 1500px) {
  .logo-title {
    font-size: 32px;
  }
}
@media (max-width: 1400px) {
  .logo-title {
    font-size: 28px;
  }
}
@media (max-width: 1250px) {
  .logo-title {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .logo-title {
    margin-top: auto;
    font-size: 22px;
    position: relative;
    z-index: 6;
    white-space: nowrap;
  }
}
.logo-subtitle {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0px 0px;
  opacity: 0.6;
}
@media (max-width: 1250px) {
  .logo-subtitle {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .logo-subtitle {
    font-size: 10px;
    margin: 0;
    position: relative;
    z-index: 6;
  }
}

.header {
  background: url("../img/header-bg.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--header-bg-gradient);
  opacity: 0.2;
}
.header .container {
  height: 100%;
  position: relative;
  z-index: 2;
}
.header-nav {
  padding: 20px 0px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 18px;
  position: relative;
}
@media (max-width: 1400px) {
  .header-nav {
    gap: 14px;
  }
}
@media (max-width: 768px) {
  .header-nav {
    padding: 30px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 0;
  }
  .header-nav.active {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
.header-nav::before, .header-nav::after {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  -webkit-mask: url("../img/star-icon.svg") no-repeat center;
          mask: url("../img/star-icon.svg") no-repeat center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background: var(--header-border);
  position: absolute;
  bottom: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  opacity: 0;
  -webkit-animation: show 1s 1.5s linear forwards;
          animation: show 1s 1.5s linear forwards;
}
.header-nav::before {
  left: 0;
}
.header-nav::after {
  right: 0;
}
.header-nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 35px;
  padding: 84px 0px 0px;
}
.header-nav-links::before, .header-nav-links::after {
  content: "";
  height: 3px;
  background: var(--header-border);
  position: absolute;
  bottom: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}
.header-nav-links::before {
  right: calc(50% + 40px);
  left: calc(50% + 40px);
  -webkit-animation: headerLineLeft 1s 0.5s linear forwards;
          animation: headerLineLeft 1s 0.5s linear forwards;
}
.header-nav-links::after {
  left: calc(50% + 40px);
  right: calc(50% + 40px);
  -webkit-animation: headerLineRight 1s 0.5s linear forwards;
          animation: headerLineRight 1s 0.5s linear forwards;
}
@media (max-width: 1600px) {
  .header-nav-links {
    gap: 25px;
    padding: 77px 0px 0px;
  }
}
@media (max-width: 1400px) {
  .header-nav-links {
    gap: 16px;
  }
}
.header-nav-link a {
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
  position: relative;
}
.header-nav-link a::before {
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
@media (min-width: 1200px) {
  .header-nav-link a:hover {
    color: var(--main);
  }
  .header-nav-link a:hover::before {
    content: "";
    width: 14px;
    height: 14px;
    display: inline-block;
    -webkit-mask: url("../img/star-icon.svg") no-repeat center;
            mask: url("../img/star-icon.svg") no-repeat center;
    -webkit-mask-size: contain;
            mask-size: contain;
    background: var(--main);
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, calc(-100% - 11px));
            transform: translate(-50%, calc(-100% - 11px));
    opacity: 1;
  }
}
@media (max-width: 1600px) {
  .header-nav-link a {
    font-size: 16px;
  }
}
@media (max-width: 1400px) {
  .header-nav-link a {
    font-size: 15px;
  }
}
@media (max-width: 1280px) {
  .header-nav-link a {
    font-size: 14px;
  }
}
.header-nav__fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--main);
  z-index: 5;
  padding: 32px max(10px, (100vw - 1530px) / 2);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0, -110%);
          transform: translate(0, -110%);
  opacity: 0;
  -webkit-animation: allShow 1s linear forwards;
          animation: allShow 1s linear forwards;
  gap: 0;
}
@media (max-width: 768px) {
  .header-nav__fixed {
    padding: 12px 16px;
  }
}
.header-nav__fixed::before, .header-nav__fixed::after {
  display: none;
}
.header-nav__fixed .logo::before, .header-nav__fixed .logo::after,
.header-nav__fixed .header-nav-links::before,
.header-nav__fixed .header-nav-links::after {
  display: none;
}
.header-nav__fixed .logo {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  display: grid;
  grid-template-columns: 68px 1fr;
  grid-gap: 14px 10px;
  white-space: nowrap;
  margin-right: 100px;
}
@media (max-width: 768px) {
  .header-nav__fixed .logo {
    grid-gap: 8px;
    margin: 0;
  }
}
.header-nav__fixed .logo-img {
  grid-row-start: span 2;
}
.header-nav__fixed .logo-title {
  font-size: 34px;
}
@media (max-width: 768px) {
  .header-nav__fixed .logo-title {
    margin-top: auto;
    font-size: 22px;
  }
}
.header-nav__fixed .logo-subtitle {
  font-size: 13px;
  margin: 0;
}
@media (max-width: 768px) {
  .header-nav__fixed .logo-subtitle {
    font-size: 10px;
    margin: 0;
  }
}
.header-nav__fixed .header-nav-links {
  padding: 0;
  gap: 25px;
}
.header-nav__fixed .header-nav-links a {
  font-size: 16px;
}
.header-nav__fixed .header-nav-links a:hover {
  color: #fff;
}
.header-content {
  padding: 28px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
@media (max-width: 768px) {
  .header-content {
    padding: 100px 0px 0px;
    gap: 20px;
  }
}
.header-content h1 {
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  opacity: 0;
  -webkit-animation: allShow 1s 1.5s linear forwards;
          animation: allShow 1s 1.5s linear forwards;
}
.header-content p {
  color: #fff;
  text-align: center;
  max-width: min(620px, 100%);
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  opacity: 0;
  -webkit-animation: allShow 1s 2s linear forwards;
          animation: allShow 1s 2s linear forwards;
}
.header-content .button {
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  opacity: 0;
  -webkit-animation: allShow 1s 2.5s linear forwards;
          animation: allShow 1s 2.5s linear forwards;
}
@media (max-width: 768px) {
  .header-content .button {
    margin: 15px 0px 0px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
}
.header-support {
  position: absolute;
  bottom: 80px;
  left: 0;
}
@media (max-width: 768px) {
  .header-support {
    bottom: 60px;
    left: 16px;
    max-width: 160px;
  }
}
.header svg.mouse {
  width: 30px;
  height: 50px;
  position: absolute;
  bottom: 90px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-animation: mouse 2s 4s ease-out infinite;
          animation: mouse 2s 4s ease-out infinite;
}
@media (max-width: 768px) {
  .header svg.mouse {
    display: none;
  }
}
.header-mob {
  display: none;
}
@media (max-width: 768px) {
  .header-mob {
    display: block;
    position: relative;
    z-index: 10;
    width: 24px;
    height: 21px;
    background: transparent;
    border: none;
    margin-left: auto;
  }
  .header-mob .line {
    pointer-events: none;
    height: 2px;
    border-radius: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }
  .header-mob .line:first-child {
    -webkit-transform: translate(0, calc(-50% - 6px));
            transform: translate(0, calc(-50% - 6px));
  }
  .header-mob .line:nth-child(2) {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .header-mob .line:last-child {
    -webkit-transform: translate(0, calc(-50% + 6px));
            transform: translate(0, calc(-50% + 6px));
    left: 10px;
  }
  .header-mob.active {
    margin-left: auto;
  }
  .header-mob.active .line:first-child {
    -webkit-animation: line1 0.5s linear forwards;
            animation: line1 0.5s linear forwards;
  }
  .header-mob.active .line:nth-child(2) {
    opacity: 0;
  }
  .header-mob.active .line:last-child {
    -webkit-animation: line2 0.5s linear forwards;
            animation: line2 0.5s linear forwards;
    left: 0;
  }
}
.header-nav-mob {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  padding: 150px 16px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 30px;
  background: var(--main);
  z-index: 5;
  visibility: hidden;
  -webkit-transform: translate(0, -120%);
          transform: translate(0, -120%);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}
.header-nav-mob.active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  visibility: visible;
}
.header-nav-mob a {
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
}

.about {
  padding: 120px 0px 0;
  position: relative;
}
@media (max-width: 768px) {
  .about {
    padding: 60px 0px 0px;
  }
}
.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: min(1000px, 60%);
  height: 100%;
  background: var(--main);
  border-radius: 0px 0px 30px 0px;
  z-index: -1;
}
@media (max-width: 768px) {
  .about::before {
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    bottom: 110px;
    border-radius: 0px 0px 30px 30px;
  }
}
.about-wrapper {
  display: grid;
  grid-template-columns: 1fr min(50%, 800px);
  gap: 44px;
}
@media (max-width: 768px) {
  .about-wrapper {
    grid-template-columns: 1fr;
  }
}
.about-content {
  color: #fff;
  padding: 0px 0px 100px;
}
@media (max-width: 768px) {
  .about-content {
    padding: 0;
  }
}
.about-imgs {
  position: relative;
}
.about-img {
  border-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.about-img-first {
  width: calc(100% - 84px);
  height: calc(100% - 105px);
}
@media (max-width: 768px) {
  .about-img-first {
    width: 300px;
    height: 300px;
  }
}
.about-img-second {
  position: absolute;
  bottom: -10px;
  right: 0;
  border: 10px solid #fff;
  width: 390px;
  height: 440px;
}
@media (max-width: 768px) {
  .about-img-second {
    width: 190px;
    height: 210px;
    bottom: -70px;
  }
}
.about h2 {
  margin: 0px 0px 50px;
}
.about .button {
  margin: 110px 0px 0px;
  color: var(--main);
  background: var(--button-about-bg);
}
.about .button::before, .about .button::after {
  background: var(--button-about-figure);
}
@media (max-width: 768px) {
  .about .button {
    margin: 40px 0px 0px;
  }
}

.photos {
  padding: 120px 0px;
}
@media (max-width: 768px) {
  .photos {
    padding: 120px 0px 60px;
  }
}
.photos h2, .photos p {
  text-align: center;
  margin: 0px auto;
}
.photos h2 {
  max-width: min(800px, 100%);
  margin-bottom: 20px;
}
.photos p {
  max-width: min(600px, 100%);
  color: var(--subtitle-dark);
}
.photos .figure {
  margin: 40px auto 0px;
}
@media (max-width: 768px) {
  .photos .figure {
    margin: 20px auto 0px;
  }
}
.photos .mobile-show {
  margin: 30px 0px 0px;
}
.photos-wrapper {
  padding: 60px 0px 0px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
@media (max-width: 768px) {
  .photos-wrapper {
    padding: 30px 0px 0px;
    gap: 15px;
    grid-template-columns: repeat(6, 1fr);
  }
}
.photos-wrapper a {
  grid-column-start: span 3;
}
@media (max-width: 768px) {
  .photos-wrapper a {
    grid-column-start: span 2;
  }
  .photos-wrapper a:not(:nth-child(3), :nth-child(4), :nth-child(5)) {
    grid-column-start: span 3;
  }
  .photos-wrapper a:not(:nth-child(3), :nth-child(4), :nth-child(5)) img {
    height: 120px;
  }
  .photos-wrapper a:not(:nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5), :nth-child(6), :nth-child(7)) {
    display: none;
  }
  .photos-wrapper a:not(:nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5), :nth-child(6), :nth-child(7)).show {
    display: block;
  }
}
@media (min-width: 769px) {
  .photos-wrapper a:not(:nth-child(4), :nth-child(5), :nth-child(6), :nth-child(7)) {
    grid-column-start: span 4;
  }
  .photos-wrapper a:not(:nth-child(4), :nth-child(5), :nth-child(6), :nth-child(7)) img {
    height: 368px;
  }
}
.photos-img {
  border-radius: 40px;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 768px) {
  .photos-img {
    border-radius: 10px;
    height: 100px;
  }
}

.places {
  padding: 130px 0px;
  background: url("../img/places-bg.png") no-repeat center;
  background-size: cover;
  position: relative;
}
@media (max-width: 768px) {
  .places {
    padding: 60px 0px 80px;
  }
}
.places::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bg-gradient);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.places .container {
  position: relative;
}
.places h2, .places p {
  color: #fff;
  text-align: center;
}
.places p {
  opacity: 0.8;
  max-width: min(600px, 100%);
  margin: 20px auto;
}
.places .figure {
  margin: 30px auto 0px;
}
.places-slider {
  padding: 60px 0px 0px;
}
@media (max-width: 768px) {
  .places-slider {
    padding: 30px 0px 0px;
  }
}
.places .swiper {
  overflow: visible;
}
.places .swiper-wrapper {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.places .swiper-slide {
  height: auto;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
@media (min-width: 769px) {
  .places .swiper-slide-active, .places .swiper-slide-next, .places .swiper-slide-next + .swiper-slide {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .places .swiper-slide-active, .places .swiper-slide-next, .places .swiper-slide-prev {
    opacity: 1;
  }
}
.places-item-img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 260px;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .places-item-img {
    height: 200px;
  }
}
.places .card h3 {
  padding: 20px 0px 16px;
}
.places .card p {
  color: var(--card-text);
  text-align: left;
  margin: 0;
}
@media (max-width: 768px) {
  .places .card p {
    font-size: 16px;
  }
}

.holidays {
  padding: 110px 0px 60px;
}
@media (max-width: 768px) {
  .holidays {
    padding: 60px 0px 30px;
  }
}
.holidays h2 {
  text-align: center;
}
.holidays-wrapper {
  padding: 60px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
@media (max-width: 768px) {
  .holidays-wrapper {
    padding: 42px 0px 0px;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
.holidays-item {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  color: #fff;
}
@media (max-width: 768px) {
  .holidays-item {
    border-radius: 16px;
  }
}
.holidays-item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}
.holidays-item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 420px;
}
@media (max-width: 768px) {
  .holidays-item img {
    height: 230px;
  }
}
.holidays-item-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 2;
}
@media (max-width: 768px) {
  .holidays-item-info {
    left: 16px;
  }
}
.holidays-item-date {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 6px 15px;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 12px;
  background: var(--date-bg);
}
@media (max-width: 768px) {
  .holidays-item-date {
    font-size: 16px;
  }
}
.holidays .button {
  margin: 0px auto;
}
@media (max-width: 768px) {
  .holidays .button {
    margin: 30px auto 0px;
  }
}

.crafts {
  padding: 60px 0px 120px;
}
@media (max-width: 768px) {
  .crafts {
    padding: 30px 0px 60px;
  }
}
.crafts h2, .crafts p {
  text-align: center;
}
.crafts p {
  margin: 20px 0px 60px;
}
@media (max-width: 768px) {
  .crafts p {
    margin: 20px 0px 30px;
  }
}
.crafts .swiper {
  overflow: visible;
}
.crafts .swiper-slide {
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.crafts .swiper-slide-active {
  opacity: 1;
}
@media (max-width: 768px) {
  .crafts .swiper-slide-active, .crafts .swiper-slide-next, .crafts .swiper-slide-prev {
    opacity: 1;
  }
}
.crafts-item {
  display: grid;
  grid-template-columns: 58% 1fr;
  grid-gap: 40px;
}
@media (max-width: 768px) {
  .crafts-item {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
.crafts-item-img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 600px;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .crafts-item-img {
    height: 200px;
  }
}
.crafts-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 30px;
}
@media (max-width: 768px) {
  .crafts-item-content {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .crafts-item-content .figure {
    display: none;
  }
  .crafts-item-content h3 {
    margin-bottom: 6px;
  }
}
.crafts-item-content p {
  font-size: 18px;
  text-align: left;
  margin: 0px 0px 18px 0px;
}
.crafts-item-content p:last-child {
  margin: 0;
}
@media (max-width: 768px) {
  .crafts-item-content p {
    font-size: 16px;
    margin: 0px 0px 0px;
  }
}
.crafts-item-content .button {
  margin: 50px 0px 0px;
}
@media (max-width: 768px) {
  .crafts-item-content .button {
    margin: 20px 0px 0px;
  }
  .crafts-item-content .button::before {
    display: none;
  }
}
.crafts .pagination .swiper-pagination-bullet {
  background: rgba(0, 0, 0, 0.2);
}
.crafts .pagination .swiper-pagination-bullet-active {
  background: var(--main);
}

.road {
  padding: 120px 0px;
  background: url("../img/road-bg.png") no-repeat center;
  background-size: cover;
  position: relative;
}
@media (max-width: 768px) {
  .road {
    padding: 60px 0px 80px;
  }
}
.road::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bg-gradient);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.road .container {
  position: relative;
}
.road h2 {
  color: #fff;
  text-align: center;
}
.road .figure {
  margin: 30px auto;
}
.road .nav-buttons {
  margin: 0px auto;
}
.road .nav-contents {
  padding: 40px 0px 0px;
}
.road .swiper-wrapper {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.road .swiper-slide {
  height: auto;
}
@media (max-width: 768px) {
  .road .swiper {
    overflow: visible;
  }
  .road .swiper-slide {
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
  }
  .road .swiper-slide-active, .road .swiper-slide-next, .road .swiper-slide-prev {
    opacity: 1;
  }
}
.road-item {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
@media (max-width: 768px) {
  .road-item {
    padding: 20px 16px 24px;
    gap: 20px;
  }
}
.road-item h3 {
  font-size: 26px;
}
@media (max-width: 768px) {
  .road-item h3 {
    font-size: 24px;
  }
}
.road-item-places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10px;
  padding: 0px 0px 0px 34px;
  position: relative;
}
.road-item-places::before {
  content: "";
  height: 22px;
  width: 4px;
  border-left: 4px dotted var(--road-card-lines);
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.road-item-place {
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.road-item-place::before {
  left: -34px;
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  display: inline-block;
  -webkit-mask: url("../img/map.svg") no-repeat center;
          mask: url("../img/map.svg") no-repeat center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background: var(--road-card-icon);
}
@media (max-width: 768px) {
  .road-item-place {
    font-size: 16px;
  }
}
.road-item-time {
  font-size: 16px;
  color: rgba(27, 27, 27, 0.4);
}
.road-item-price {
  width: 100%;
  padding: 18px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  margin: auto 0px 0px;
}
.road-item-price .title {
  font-weight: 700;
}
@media (max-width: 768px) {
  .road-item-price {
    font-size: 16px;
  }
}
.road-item .button {
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
}
.road-item .button::before, .road-item .button::after {
  display: none;
}

.map {
  padding: 140px 0px 100px;
  position: relative;
}
@media (max-width: 768px) {
  .map {
    padding: 60px 0px 30px;
  }
}
.map::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  background: var(--main);
  position: absolute;
  border-radius: 0px 0px 30px 0px;
  z-index: -1;
}
@media (max-width: 768px) {
  .map::before {
    right: 0;
    border-radius: 0px 0px 30px 30px;
    bottom: 120px;
  }
}
.map-wrapper {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-gap: 60px;
}
@media (max-width: 768px) {
  .map-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 36px;
  }
}
.map-content {
  color: #fff;
  text-align: center;
}
.map-content h2 {
  margin: 30px 0px 20px;
}
@media (max-width: 768px) {
  .map-content h2 {
    margin: 10px 0px 20px;
  }
}
.map-content p {
  opacity: 0.8;
}
.map-content .logo-img {
  margin: 0px auto;
}
.map iframe {
  border-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 735px;
}
@media (max-width: 768px) {
  .map iframe {
    height: 500px;
  }
}

.hotels {
  padding: 120px 0px;
}
@media (max-width: 768px) {
  .hotels {
    padding: 30px 0px 60px;
  }
}
.hotels-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
@media (max-width: 768px) {
  .hotels-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.hotels-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 30px;
  padding: 60px 0px 0px;
}
@media (max-width: 768px) {
  .hotels-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
.hotels-img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 400px;
  border-radius: 40px;
  margin-bottom: 20px;
  grid-column-start: span 4;
}
@media (max-width: 768px) {
  .hotels-img {
    border-radius: 24px;
    height: 200px;
    margin-bottom: 5px;
    grid-column-start: 1;
  }
}
.hotels-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #000;
  font-size: 18px;
}
@media (max-width: 768px) {
  .hotels-item {
    border-radius: 16px;
    padding: 20px;
    font-size: 16px;
  }
  .hotels-item:not(:nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5)) {
    display: none;
  }
  .hotels-item:not(:nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5)).show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.hotels-item a {
  color: var(--main);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 16px;
}
.hotels-item a::after {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  -webkit-mask: url("../img/link-icon.svg") no-repeat center;
          mask: url("../img/link-icon.svg") no-repeat center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background: var(--main);
}
.hotels-item strong {
  font-weight: 700;
}
.hotels-item-phones, .hotels-item-adress {
  padding: 0px 0px 0px 38px;
  position: relative;
}
.hotels-item-phones::before, .hotels-item-adress::before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  -webkit-mask-size: contain;
          mask-size: contain;
  background: var(--hotel-icon);
  position: absolute;
  left: 0;
  top: 13.05px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.hotels-item-phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.hotels-item-phones::before {
  -webkit-mask: url("../img/call.svg") no-repeat center;
          mask: url("../img/call.svg") no-repeat center;
}
.hotels-item-phones a {
  color: rgba(0, 0, 0, 0.6);
}
.hotels-item-phones a::after {
  display: none;
}
.hotels-item-adress {
  color: rgba(0, 0, 0, 0.6);
}
.hotels-item-adress::before {
  -webkit-mask: url("../img/map.svg") no-repeat center;
          mask: url("../img/map.svg") no-repeat center;
}
.hotels .mobile-show {
  margin: 5px 0px 0px;
}

.footer {
  color: #fff;
  background: var(--main);
  padding: 90px 0px 56px;
}
@media (max-width: 768px) {
  .footer {
    padding: 60px 0px 48px;
  }
}
.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20%;
}
@media (max-width: 768px) {
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 38px;
  height: auto;
}
.footer-col:first-child {
  width: min(390px, 40%);
}
@media (max-width: 768px) {
  .footer-col:first-child {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .footer-col {
    width: 100%;
    gap: 20px;
  }
}
.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
  font-size: 18px;
}
.footer-logo-icon {
  padding: 12px;
  background: #fff;
  border-radius: 10px;
  width: 60px;
  height: 60px;
}
@media (max-width: 768px) {
  .footer-logo {
    font-size: 16px;
  }
}
.footer p.copyright {
  opacity: 0.8;
  font-size: 16px;
}
.footer .partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 15px;
}
@media (max-width: 768px) {
  .footer .partners {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.footer .partners-item {
  background: #fff;
  border-radius: 10px;
  padding: 10px 15px;
}
@media (max-width: 768px) {
  .footer .partners-item {
    width: 100%;
  }
}
.footer .partners-item img {
  width: 100%;
  height: 48px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left center;
     object-position: left center;
}
.footer .partners-title {
  text-transform: uppercase;
  font-weight: 500;
}
@media (max-width: 768px) {
  .footer .partners-title {
    font-size: 18px;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--bg-gradient);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.popup.active {
  opacity: 1;
  visibility: visible;
}
.popup.active .popup-body {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}
.popup-body {
  position: relative;
  background: #fff;
  padding: 15px 50px 40px;
  border-radius: 20px;
  max-height: calc(100vh - 128px);
  width: min(1280px, 95%);
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.7s linear;
  transition: opacity 0.5s linear, -webkit-transform 0.7s linear;
  transition: opacity 0.5s linear, transform 0.7s linear;
  transition: opacity 0.5s linear, transform 0.7s linear, -webkit-transform 0.7s linear;
}
@media (max-width: 768px) {
  .popup-body {
    width: 100%;
    max-height: 100%;
    height: 100%;
    padding: 8px 16px 20px;
    border-radius: 0;
  }
}
.popup-body-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media (max-width: 768px) {
  .popup-body-top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0px 0px 20px;
  }
}
.popup-body-top::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% + 6px);
  height: 2px;
  background: var(--popup-line);
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
@media (max-width: 768px) {
  .popup-body-top::before {
    display: none;
  }
}
.popup-body-bottom {
  height: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popup-body-bottom::before, .popup-body-bottom::after {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid var(--popup-line);
  -webkit-transform: translate(0, -1px);
          transform: translate(0, -1px);
}
.popup-body-bottom .circe {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid var(--header-circe);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup-body-bottom .circe::before, .popup-body-bottom .circe::after {
  content: "";
  height: 2px;
  width: calc(50% - 40px);
  background: var(--popup-line);
  position: absolute;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.popup-body-bottom .circe::before {
  left: 11px;
}
.popup-body-bottom .circe::after {
  right: 11px;
}
.popup-body-content {
  height: calc(100vh - 128px - 200px);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #D8D8D8 var(--main);
  padding: 26px 22px 0px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 30px;
}
@media (max-width: 768px) {
  .popup-body-content {
    padding: 20px 16px 20px 0px;
    height: calc(100vh - 168px);
    gap: 16px;
  }
}
.popup-body-content::-webkit-scrollbar {
  width: 8px;
  background: #D8D8D8;
  border-radius: 5px;
}
.popup-body-content::-ms-track {
  width: 8px;
  background: #D8D8D8;
  border-radius: 5px;
}
.popup-body-content::-webkit-scrollbar-thumb {
  background: var(--main);
  border-radius: 5px;
}
.popup-body-content::-ms-thumb {
  background: var(--main);
  border-radius: 5px;
}
.popup-body-content p {
  font-size: 17px;
  font-weight: 500;
}
.popup-body-content p a {
  color: var(--main);
  text-decoration: underline;
}
@media (max-width: 768px) {
  .popup-body-content p {
    font-size: 14px;
  }
}
.popup-body-content h3, .popup-body-content h4 {
  margin: 0px 0px 16px;
}
@media (max-width: 768px) {
  .popup-body-content h3, .popup-body-content h4 {
    margin: 0;
  }
}
.popup-body-content h3 {
  font-size: 32px;
}
.popup-body-content h4 {
  font-size: 22px;
}
.popup-body-content ul.list li {
  font-size: 17px;
  padding: 0px 0px 0px 22px;
}
@media (max-width: 768px) {
  .popup-body-content ul.list li {
    font-size: 14px;
    padding: 0px 0px 0px 16px;
  }
}
.popup-body-content ul.list li::before {
  top: 12.325px;
  width: 6px;
  height: 6px;
}
.popup-body-wrapper {
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-template-columns: 60% 1fr;
  grid-gap: 40px;
}
@media (max-width: 768px) {
  .popup-body-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }
  .popup-body-wrapper h3, .popup-body-wrapper h4 {
    margin: 0px 0px 16px;
  }
}
.popup-body-wrapper p {
  margin: 0px 0px 30px;
}
.popup-body-wrapper p:last-child {
  margin: 0;
}
.popup-body-wrapper img {
  width: 100%;
  height: 360px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 768px) {
  .popup-body-wrapper img {
    grid-row-start: 1;
    height: 220px;
  }
}
.popup-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .popup-logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
.popup-logo::before, .popup-logo::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50px;
  border: 2px solid var(--popup-line);
  position: absolute;
  top: 50%;
  background: #fff;
}
@media (max-width: 768px) {
  .popup-logo::before, .popup-logo::after {
    display: none;
  }
}
.popup-logo::before {
  left: 0px;
}
.popup-logo::after {
  right: 0px;
}
.popup-logo-img {
  width: 300px;
  height: 68px;
  background: #fff;
  padding: 0px 26px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 768px) {
  .popup-logo-img {
    padding: 0;
    width: 68px;
    background: transparent;
  }
}
.popup-logo-title {
  font-family: Lora, serif;
  font-weight: 700;
  font-size: 24px;
  background: #fff;
  padding: 0px 26px;
}
@media (max-width: 768px) {
  .popup-logo-title {
    padding: 0;
    font-size: 22px;
    background: transparent;
  }
}
.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 37px;
  height: 37px;
  background: var(--main);
  border-radius: 50%;
  cursor: pointer;
  z-index: 12;
}
@media (max-width: 768px) {
  .popup-close {
    width: 35px;
    height: 35px;
    top: 24px;
    right: 16px;
  }
}
.popup-close .line {
  pointer-events: none;
  height: 2px;
  width: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
}
.popup-close .line:first-child {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.popup-close .line:last-child {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

@-webkit-keyframes mouse {
  50% {
    -webkit-transform: translate(-50%, 10px);
            transform: translate(-50%, 10px);
  }
  100% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
}

@keyframes mouse {
  50% {
    -webkit-transform: translate(-50%, 10px);
            transform: translate(-50%, 10px);
  }
  100% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
}
@-webkit-keyframes show {
  to {
    opacity: 1;
  }
}
@keyframes show {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes allShow {
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes allShow {
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes headerLineLeft {
  to {
    left: 6px;
  }
}
@keyframes headerLineLeft {
  to {
    left: 6px;
  }
}
@-webkit-keyframes headerLineRight {
  to {
    right: 6px;
  }
}
@keyframes headerLineRight {
  to {
    right: 6px;
  }
}
@-webkit-keyframes line1 {
  50% {
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  100% {
    -webkit-transform: translate(0%, -50%) rotate(45deg);
            transform: translate(0%, -50%) rotate(45deg);
  }
}
@keyframes line1 {
  50% {
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  100% {
    -webkit-transform: translate(0%, -50%) rotate(45deg);
            transform: translate(0%, -50%) rotate(45deg);
  }
}
@-webkit-keyframes line2 {
  50% {
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  100% {
    -webkit-transform: translate(0%, -50%) rotate(-45deg);
            transform: translate(0%, -50%) rotate(-45deg);
  }
}
@keyframes line2 {
  50% {
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  100% {
    -webkit-transform: translate(0%, -50%) rotate(-45deg);
            transform: translate(0%, -50%) rotate(-45deg);
  }
}
.animation {
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.7s linear;
  transition: opacity 0.5s linear, -webkit-transform 0.7s linear;
  transition: transform 0.7s linear, opacity 0.5s linear;
  transition: transform 0.7s linear, opacity 0.5s linear, -webkit-transform 0.7s linear;
}
.animation-bottom {
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
}
.animation-right {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
          transform: translate(50px, 0px);
}
.animation-left {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
          transform: translate(-50px, 0px);
}
.animation-opacity {
  opacity: 0;
}/*# sourceMappingURL=style.css.map */