.card {
    background: #fff;
    border-radius: 20px;
    padding: 16px;

    p {
        font-size: 18px;
        color: rgba(37, 37, 37, 0.8);

        @include mobile {
            font-size: 16px;
        }
    }

    &-shadow {
        border-radius: 40px;
        box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.20);
        padding: 40px;

        @include mobile {
            padding: 16px;
            border-radius: 20px;
        }
    }
}