@font-face {
    font-family: Manrope;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Manrope-Medium.ttf');
}

@font-face {
    font-family: Manrope;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Manrope-SemiBold.ttf');
}

@font-face {
    font-family: Manrope;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Manrope-Bold.ttf');
}

@font-face {
    font-family: Lora;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Lora-Bold.ttf');
}