.header {
    background: url('../img/header-bg.jpg') no-repeat center;
    background-size: cover;
    min-height: 100vh;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: var(--header-bg-gradient);
        opacity: 0.2;
    }

    .container {
        min-height: 100vh;
        position: relative;
        z-index: 2;
    }

    &-nav {
        padding: 20px 0px 35px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 18px;
        position: relative;

        @media (max-width: 1400px) {
            gap: 14px;
        }

        @media (max-width: 1250px) {
            display: none;
        }

        &::before,
        &::after {
            @include figure(12px, var(--header-border)) {
                position: absolute;
                bottom: 0;
                transform: translate(0, 50%);
                opacity: 0;
                animation: show 1s 1.5s linear forwards;
            }
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }

        &-links {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 35px;
            padding: calc(68px + 4px + 12px) 0px 0px;



            &::before,
            &::after {
                content: '';
                height: 3px;
                background: var(--header-border);
                position: absolute;
                bottom: 0;
                transform: translate(0, 50%);

            }

            &::before {
                right: calc(50% + 40px);
                left: calc(50% + 40px);
                animation: headerLineLeft 1s .5s linear forwards;
            }

            &::after {
                left: calc(50% + 40px);
                right: calc(50% + 40px);
                animation: headerLineRight 1s .5s linear forwards;
            }

            @media (max-width: 1600px) {
                gap: 25px;
                padding: calc(68px + 4px + 5px) 0px 0px;
            }

            @media (max-width: 1400px) {
                gap: 16px;
            }
        }

        &-link {
            a {
                color: #fff;
                text-transform: uppercase;
                font-size: 17px;
                font-weight: 700;
                transition: color .5s linear;
                position: relative;

                &::before {
                    content: '';
                    opacity: 0;
                    transition: opacity .5s linear;
                }

                @media (min-width: 1200px) {
                    &:hover {
                        color: var(--main);

                        &::before {
                            @include figure(14px, var(--main)) {
                                position: absolute;
                                left: 50%;
                                top: 0;
                                transform: translate(-50%, calc(-100% - 11px));
                                opacity: 1;
                            }
                        }
                    }
                }

                @media (max-width: 1600px) {
                    font-size: 16px;
                }

                @media (max-width: 1400px) {
                    font-size: 15px;
                }

                @media (max-width: 1280px) {
                    font-size: 14px;
                }
            }
        }

        &__fixed {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background: var(--main);
            z-index: 5;
            padding: 32px max(10px, calc((100vw - 1530px) / 2));
            align-items: center;
            transform: translate(0, -110%);
            opacity: 0;
            animation: allShow 1s linear forwards;
            gap: 0;
            box-shadow: 0px 4px 10px rgba($color: #000000, $alpha: 0.1);


            &::before, &::after {
                display: none;
            }

            .logo,
            .header-nav-links {
                &::before, &::after {
                    display: none;
                }
            }

            .logo {
                order: -1;
                display: grid;
                grid-template-columns: 68px 1fr;
                grid-gap: 14px 10px;
                white-space: nowrap;
                margin-right: 100px;



                &-img {
                    grid-row-start: span 2;
                }

                &-title {
                    font-size: 34px;

                }

                &-subtitle {
                    font-size: 13px;
                    margin: 0;

                }
            }

            .header-nav-links {
                padding: 0;
                gap: 25px;

                a {
                    font-size: 16px;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }

    &-content {
        padding: 28px 0px 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        height: 100%;

        @include tablet {
            padding: 140px 0px 200px;
        }

        @include mobile {
            padding: 100px 0px 0px;
            gap: 20px;
        }

        h1 {
            transform: translate(0, 50px);
            opacity: 0;
            animation: allShow 1s 1.5s linear forwards;
        }

        p {
            color: #fff;
            text-align: center;
            max-width: min(620px, 100%);
            transform: translate(0, 50px);
            opacity: 0;
            animation: allShow 1s 2s linear forwards;
        }

        .button {
            transform: translate(0, 50px);
            opacity: 0;
            animation: allShow 1s 2.5s linear forwards;

            @include mobile {
                margin: 15px 0px 0px;
                width: max-content;
                max-width: max-content;
            }
        }
    }

    &-support {
        position: absolute;
        bottom: 80px;
        left: 0;

        @include mobile {
            bottom: 60px;
            left: 16px;
            max-width: 160px;
        }
    }

    svg.mouse {
        width: 30px;
        height: 50px;
        position: absolute;
        bottom: 90px;
        left: 50%;
        transform: translate(-50%, 0);
        animation: mouse 2s 4s ease-out infinite;

        @media(max-width: 1100px) {
            display: none;
        }
    }
}