.header-nav-mobile {
    display: none;

    @media (max-width: 1250px) {
        padding: 30px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        &.header-nav__fixed {
            padding: 11px 16px;
            z-index: 10;
        }

        @media (max-width: 820px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .logo {
            position: relative;
            z-index: 12;
            &::before, &::after {
                display: none;
            }

            @media (max-width: 820px) {
                display: grid;
                grid-template-columns: 68px 1fr;
                grid-gap: 8px;
                margin-right: 0;

                &-img {
                    grid-row-start: span 2;
                }
                &-title {
                    @include tablet {
                        margin-top: auto;
                        font-size: 22px;
                        position: relative;
                        z-index: 6;
                        white-space: nowrap;
                    }
                }
            
                &-subtitle {
                    margin: 0;
                    @include tablet {
                        font-size: 10px;
                        margin: 0;
                        position: relative;
                        z-index: 6;
                    }
                }
            }
        }

        .header-nav-links {
            padding: 0;
            gap: 10px;
            &::before, &::after {
                display: none;
            }

            a {
                font-size: 13px;
            }

            @media (max-width: 820px) {
                position: fixed;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                background: var(--main);
                z-index: 10;
                padding: 160px 16px 50px;
                visibility: hidden;
                opacity: 0;
                transform: translate(120%, 0);
                transition: transform .5s linear, opacity .3s linear;
                min-height: 100vh;

                &.active {
                    visibility: visible;
                    opacity: 1;
                    transform: translate(0, 0);
                }
            }
        }
    }

    .header {
        &-mob {
            display: none;
    
            @media (max-width: 820px) {
                display: block;
                flex: 0 0 24px;
                position: relative;
                width: 24px;
                height: 21px;
                background: transparent;
                border: none;
                margin-left: auto;
                z-index: 12;
    
                .line {
                    pointer-events: none;
                    height: 2px;
                    border-radius: 2px;
                    background: #fff;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
    
                    &:first-child {
                        transform: translate(0, calc(-50% - 6px));
                       
                    }
    
                    &:nth-child(2) {
                        transform: translate(0, -50%);
                    }
    
                    &:last-child {
                        transform: translate(0, calc(-50% + 6px));
                        left: 10px;
                    }
                }
    
                &.active {
                    margin-left: auto;
                    .line {
                        &:first-child {
                            animation: line1 .5s linear forwards;
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:last-child {
                            animation: line2 .5s linear forwards;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}