:root {
    --main: #469A77;
    --button-figure: #fff;
    --header-border: #D0525A;
    --header-circe: #00AAE8;
    --button-about-bg: #fff;
    --button-about-figure: #469A77;
    --list-bullet-color: #D0525A;
    --subtitle-dark: rgba(15, 15, 15, 0.8);
    --card-text: rgba(37, 37, 37, 0.8);

    --figure-color: #D0525A;
    --figure-line: #00AAE8;

    --header-bg-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(0deg, rgba(31, 53, 42, 0.70) 0%, rgba(31, 53, 42, 0.70) 100%);
    --bg-gradient: linear-gradient(0deg, rgba(31, 53, 42, 0.70) 0%, rgba(31, 53, 42, 0.70) 100%);
    --date-bg: #D0525A;
    --road-card-lines: #00AAE8;
    --road-card-icon: #D0525A;
    --hotel-icon: #D0525A;

    --popup-line: #D0525A;
}